.project-header{
    font-weight: bold;
}

.project-paragraph{
    font-size: .9em;
}

.bordered{
    border: 1px solid black;
    /* border-radius: 10px; */
}

.bordered:hover{
    outline: none;
    border: 1px solid black;
}

.button.scrolly {
    margin-bottom: 80px;
}

.skill-svg{
    max-width: 256px;
    max-height: 256px;
}

.info-link{
    font-weight: 400;
}

.small-margin{
    margin-bottom: 5px;
}
